{% extends 'index.html' %}
{% block head %}
    <title>Свёрла</title>
    <link rel="stylesheet" href= "/css/prod.css">
{% endblock %}

{% block content %}
 <div>
     <div class = 'text'>
     <img src = "/images/sverl.jpg" width="300" height="300">
     <h1>Сверла GRAPHITE 57H350</h1>
     <h1>780 рублей</h1>
     <b>Сверла по бетону GRAPHITE 57H350 применяются при сверлении отверстий в бетоне и керамических материалах. </b>
<a href="/products">Купить здесь </a>
     </div>
 </div>
{% endblock %}