{% extends 'index.html' %}
{% block head %}
    <title>Дюбели</title>
    <link rel="stylesheet" href= "/css/prod.css">
{% endblock %}

{% block content %}
 <div>
     <div class = 'text'>
     <img src = "/images/dubel.jpg" width="300" height="300">
     <h1>Дюбели,распорный тип</h1>
     <h1>449 рублей</h1>
     <b>Дюбель является очень распространенным крепежным изделием, который имеет большой спектр применения.
     Устанавливается различными методами – закручиванием, вклеиванием и прочими. Список материалов обширен – кирпич, бетон, пластик, алюминий.
     Основа может быть латунной или пластмассовой. </b>
<a href="/products">Купить здесь </a>
     </div>
 </div>
{% endblock %}