{% extends 'index.html' %}
{% block head %}
    <title>Дрель</title>
    <link rel="stylesheet" href= "/css/prod.css">
{% endblock %}

{% block content %}
 <div>
     <div class = 'text'>
     <img src = "/images/drel.png" width="300" height="300">
     <h1>Дрель-Шуруповерт ЗУБР 14.4B</h1>
     <h1>4 700 рублей</h1>
     <b><p>
         Напряжение аккумулятора, в: 14.4<br>
         Количество скоростей работы: 2<br>
         Max частота вращения шпинделя, об/мин: 1350<br>
         Тип двигателя: щеточный<br>
         Тип патрона: быстрозажимной<br>
         Диаметр зажимаемой оснастки: 0.8-10 мм<br>
         Режим сверления: Да<br>
         Возможность быстрой смены патрона: Да<br>
         Количество аккумуляторов: 2<br>
         Емкость аккумулятора, а*ч: 1.5<br>
         Зарядное устройство в комплекте: Да<br>
         Упаковка инструмента: кейс<br>
         Вес, кг: 1.1<br>
      </p></b>
         <a href="/products">Купить здесь </a>
     </div>
 </div>
{% endblock %}