{% extends 'index.html' %}
{% block head %}
    <title>Саморезы</title>
    <link rel="stylesheet" href= "/css/prod.css">
{% endblock %}

{% block content %}
 <div>
     <div class = 'text'>
     <img src = "/images/samo.jpg" width="300" height="300">
     <h1>Саморезы по дереву</h1>
     <h1>299 рублей</h1>
     <b>Этот саморез предназначен для потайного крепления гипсокартонных плит к металлическому профилю без предварительного сверления. </b>
<a href="/products">Купить здесь </a>
     </div>
 </div>
{% endblock %}